@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.details {
  height: 90vh;
  width: 100%;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.deets-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  opacity: 85%;
}
.deets-left h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
}
.deets-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  font-family: "Bebas Neue", cursive;
}

.deets-right .top-row {
  display: flex;
  width: 95%;
  height: 10vh;
}
.top-row .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  line-height: 0rem;
  padding: 0.5rem;
}
.top-row .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  margin: 1rem;
}
.top-row .right h1 {
  color: lightgrey;
  font-size: 45px;
}
.stats-row {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 10vh;
  background-color: grey;
  padding: 1rem;
}

.demographics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.quar-1,
.quar-2,
.quar-3,
.quar-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category,
.player-info {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem;
}
.category {
  color: gray;
}
@media (max-width: 700px) {
  .details {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .deets-left,
  .deets-right {
    width: 90%;
  }
  .demographics {
    font-size: 10px;
  }
  .top-row .left {
    height: 15vh;
  }
  .top-row .left h3 {
    padding-bottom: 1rem;
  }
}
